<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.6/css/mdb.min.css" rel="stylesheet">
    <!-- Latest compiled and minified CSSprime -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- add drawer.js -->
    <script src="js/drawer.js"></script>

    <!-- Add CSS -->
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <title>AnasEnterprises | AboutPage</title>
</head>

<body>

    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark mdb-color pt-4">
        <!-- sidebar -->
        <span class="navbar-brand" style="font-size:20px;cursor:pointer; margin: 0px 7px 0px 0px;"
            onclick="openNav()">&#9776;</span>

        <!-- Navbar brand -->
        <a class="navbar-brand" href="/"><b>Anas</b>Enterprises</a>

        <!-- Collapse button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
            aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-caret-down"></i>
        </button>

        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="basicExampleNav">

            <!-- Links -->
            <ul class="navbar-nav mr-auto" style="margin: 5px 0px 0px 7px">
                <li class="nav-item">
                    <a class="nav-link" href="#">Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                </li>


                <!-- Dropdown -->
                <!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Dropdown</a>
                    <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li> -->

            </ul>
            <!-- Links -->

            <form class="form-inline">
                <div class="md-form my-10">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                </div>
            </form>
        </div>
        <!-- Collapsible content -->

    </nav>
    <!--/.Navbar-->
    <!-- sidebar -->
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <h6><img src="<%= (user.thumbnail) || ('/image/googlephoto.jpg')%>" alt="thumbnail"
                class="rounded-circle img-fluid" style="width: 50px; height: 50px;">
            <% if(currentUser && currentUser.isSeller){%>
            <i class="fas fa-user-shield"></i>Admin
            <%} %>
        </h6>
        <% if(currentUser && currentUser.isSeller){%>
        <h6><%= (user.firstname + " " + user.lastname)%></h6>
        <%} %>
        <p><%=user.username%></p>

        <p style="padding: 0px 0px 8px 25px; overflow: hidden; border-bottom: 1px solid rgb(199, 194, 194);">
            <%=user.email%></p>

        <a href="/home"><i class="fas fa-home"></i> Home</a>
        <a href=""><i class="fas fa-address-book"></i>Contact</a>
        <a href=""><i class="fas fa-address-card"></i>About Us</a>
        <% if(currentUser && currentUser.isSeller){%>
        <a href="/home/addproduct"><i class="fas fa-cart-plus"></i></i>Add Product</a>
        <%} %>
        <a href="/auth/logout"><i class="fas fa-sign-out-alt"></i>Logout</a>
    </div>


    <!-- homepage -->
    <div id="home-index">
        <!-- <div class="row">
            <% products.reverse().forEach(function(product) {%>
            <div class="col-md-3 col-xs-6 col-sm-3">
                <div class="thumbnail">
                    <div class="view overlay">
                        <img alt="thumbnail" class="img-thumbnail" src="<%= product.imgurl01%>"
                            style="width:auto; height:auto">
                        <a href="/home/details">
                            <div class="mask waves-effect waves-light rgba-white-slight"></div>
                        </a>
                    </div>

                    <h6 class=""><%= product.productname%></h6>

                    <h6 class=""><b>₹<%= product.price%></b></h6>
                    <p class="text-left"> <a href="/home/details"><button type="button"
                                class="btn btn-outline-default btn-rounded waves-effect">More</button></a></p>



                </div>
            </div>
            <% }); %>
        </div> -->
        <h1>Hi There!</h1>
    </div>

    <!-- Footer -->
    <footer class="page-footer font-small dark mdb-color pt-4">

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2019 Copyright:
            <a href="http://anasenterprises.dreamstores.in/"> AnasEnterprises</a>
        </div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->


    <!-- jQueryprime -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js">
    </script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.6/js/mdb.min.js">
    </script>

    <!-- Latest compiled and minified JavaScriptprime -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous">
    </script>

</body>

</html>